<a href="https://colab.research.google.com/github/dekuman/MachineLearning/blob/main/Dm_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd # pandas is so commonly used, it's shortened to pd import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
phone = pd.read_csv("/content/drive/MyDrive/assg/train.csv") 
phone.head(10)

,battery_power,clock_speed,four_g,int_memory,n_cores,pc,ram,touch_screen,wifi,price_range
0,842.0,2.2,0.0,7.0,2.0,2,2549.0,0.0,1.0,1.0
1,1021.0,0.5,1.0,53.0,3.0,6,2631.0,1.0,0.0,2.0
2,563.0,0.5,1.0,41.0,5.0,6,2603.0,1.0,0.0,2.0
3,615.0,2.5,0.0,10.0,6.0,9,2769.0,0.0,0.0,2.0
4,1821.0,1.2,1.0,44.0,2.0,14,1411.0,1.0,0.0,1.0
5,1859.0,0.5,0.0,22.0,1.0,7,1067.0,0.0,0.0,1.0
6,1821.0,1.7,1.0,10.0,8.0,10,3220.0,0.0,1.0,3.0
7,1954.0,0.5,0.0,24.0,4.0,0,700.0,1.0,1.0,0.0
8,1445.0,0.5,0.0,53.0,7.0,14,1099.0,0.0,0.0,0.0
9,509.0,0.6,1.0,9.0,5.0,15,513.0,0.0,0.0,0.0

In [ ]:
phone.isna().sum()

battery_power    1
clock_speed      2
four_g           2
int_memory       1
n_cores          1
pc               0
ram              1
touch_screen     1
wifi             1
price_range      1
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer 
from sklearn.compose import ColumnTransformer
#Fill categorical values with 'missing' & numerical values with mean
num_imputer=SimpleImputer(strategy="mean")
#Define columns
num_features = ["battery_power","clock_speed","four_g","int_memory","n_cores","pc","ram","touch_screen","wifi","price_range"]
# Create an imputer (Something that fills missing data)
imputer = ColumnTransformer([ ("num_imputer",num_imputer,num_features)
])
# Transformed the Data
filled_X = imputer.fit_transform(phone)
filled_X

array([[8.420e+02, 2.200e+00, 0.000e+00, ..., 0.000e+00, 1.000e+00,
        1.000e+00],
       [1.021e+03, 5.000e-01, 1.000e+00, ..., 1.000e+00, 0.000e+00,
        2.000e+00],
       [5.630e+02, 5.000e-01, 1.000e+00, ..., 1.000e+00, 0.000e+00,
        2.000e+00],
       ...,
       [1.911e+03, 9.000e-01, 1.000e+00, ..., 1.000e+00, 0.000e+00,
        3.000e+00],
       [1.512e+03, 9.000e-01, 1.000e+00, ..., 1.000e+00, 1.000e+00,
        0.000e+00],
       [5.100e+02, 2.000e+00, 1.000e+00, ..., 1.000e+00, 1.000e+00,
        3.000e+00]])

In [ ]:
phone = pd.DataFrame(filled_X,columns=["battery_power","clock_speed","four_g","int_memory","n_cores","pc","ram","touch_screen","wifi","price_range"])
phone.head(10)

,battery_power,clock_speed,four_g,int_memory,n_cores,pc,ram,touch_screen,wifi,price_range
0,842.0,2.2,0.0,7.0,2.0,2.0,2549.0,0.0,1.0,1.0
1,1021.0,0.5,1.0,53.0,3.0,6.0,2631.0,1.0,0.0,2.0
2,563.0,0.5,1.0,41.0,5.0,6.0,2603.0,1.0,0.0,2.0
3,615.0,2.5,0.0,10.0,6.0,9.0,2769.0,0.0,0.0,2.0
4,1821.0,1.2,1.0,44.0,2.0,14.0,1411.0,1.0,0.0,1.0
5,1859.0,0.5,0.0,22.0,1.0,7.0,1067.0,0.0,0.0,1.0
6,1821.0,1.7,1.0,10.0,8.0,10.0,3220.0,0.0,1.0,3.0
7,1954.0,0.5,0.0,24.0,4.0,0.0,700.0,1.0,1.0,0.0
8,1445.0,0.5,0.0,53.0,7.0,14.0,1099.0,0.0,0.0,0.0
9,509.0,0.6,1.0,9.0,5.0,15.0,513.0,0.0,0.0,0.0

In [ ]:
phone.isna().sum()

battery_power    0
clock_speed      0
four_g           0
int_memory       0
n_cores          0
pc               0
ram              0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [ ]:

X=phone.drop("price_range",axis=1)
y=phone["price_range"]

In [ ]:
np.random.seed(69)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

model = RandomForestRegressor() 
model.fit(X_train,y_train) 
model.score(X_test,y_test)

0.8854279355032719

In [ ]:
 y_preds = model.predict(X_test)

In [ ]:
output = pd.DataFrame({"ram":X_test.ram,'price_range?':y_preds}) 
output

         ram  price_range?
1338  3915.0          3.00
577   1017.0          0.08
1499  1921.0          1.77
6     3220.0          2.96
463   1138.0          0.21
...      ...           ...
373    706.0          0.02
1054  1370.0          1.01
1055  1222.0          0.99
1619  1695.0          1.75
1627  3494.0          2.92

[400 rows x 2 columns]